* {
  font-family: "Noto Sans KR", sans-serif;
}

div {
  width: 200px;
  height: 200px;
  background-color: tomato;
  margin-bottom: 50px;
}

/* 속성선택자 */
/* 해당 이름을 갖은 모든 요소에 적용 */
/* [data-display-name="first"] {
  background-color: beige;
} */

/* 특정(div) 태그에만 해당이 되도록 */
div[data-display-name="first"] {
  background-color: beige;
}
